*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.navbar{
    display:flex;

    justify-content: space-between;
    align-items:center;
    padding: 20px 40px;
    background-color: #111;
}
.logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display:flex;
    gap: 24px;
    

}
#menuToggle{
    display: none;
}
.nav-links a {
    color: #ffffffd1;
    text-decoration:none;
    font-size: 15px;
}
.nav-links a:hover{
    text-decoration:none;
    color: aquamarine;
    
}
.hero{
    height: 80vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 60px;
}
.hero-content{
    max-width: 600px;
}
.hero-content h1{
    font-size: 48px;
    margin-bottom: 16px;
    color: #111;
}
.hero-content p{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}
.hero-buttons{
    display: flex;
    gap: 16px;

}
.btn{
    padding: 14px 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
}
.primary{
    background: #00c896;
    color: #fff;
}
.secondary {
    border: 2xp solid #00c896;
    color: #00c896;
}
.services{
    padding: 80px 60px;
    background: #fff;
}
.services h2{
    font-size: 36px;
    margin-bottom: 40px;
}
.service-grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.service-card{
    border: 1px solid #ddd;
    padding: 24px;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.service-card:hover{
    transform: translateY(-6px);
    background-color: #21f09a;

}
.service-card h3{
    margin-bottom: 10px;
    color:#111;
}
.service-card p{
    color: #555;
}
.estimate{
    padding: 80px 60px;
    background: #f7f7f7;
}
.estimate h2{
    margin-bottom: 30px;
}
.estimate-box{
    max-width: 420px;
    
    background: #fff;
    padding: 24px;
    border-radius: 10px;
}
.estimate-box label{
    display: block;
    margin-bottom: 16px;
}
.estimate-box select{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}
.price{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.jks{
    margin-top: 15px;
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline ;

}
#menuToggle{

    font-size: 26px;
    background:none;
    border: none;
    color: white;
    cursor:pointer;
} 

@media (max-width: 768px) {
  .nav-links{
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction:column;
    background:#111;
    padding: 20px;
    border-radius: 8px;
   
    padding: 20px;
    border-radius: 8px;
    /*text-align: right;*/
  }
  
  #menuToggle{
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #f7f7f7;
    cursor: pointer;
  }
  .nav-links.active{
    display:flex;
  }
  
}
.nav-links li{
    margin: 0 10px;
}
.about{
    padding: 80px 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.about-container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0px;
    max-width: 1200px;
    margin: auto;
    
}

.about-text {
    flex: 1;
    padding: 40px;
    border-radius: 12px;
    background: linear-gradient(
    150deg,
    aquamarine 50%,
    white 50%

    );
}


.about-text h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 16px;
    line-height: 1.6;
    color: #030000;
    margin-bottom: 15px;
}
.about-image{
    flex: 1;
    
}
.about-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        
    }
}
html{
    scroll-behavior: smooth;
}
.jkskl{
    font-size: 30px !important;
    border: 5px solid aquamarine;
    border-radius: 20px;
    

}
.contact-section{
    padding: 120px 0px;
    background: #e6e9f0;
}
.contact-card{
    max-width: 1100px;
    width: 90%;
    min-height: 600px;
    
    margin: 60px auto;
    background: #f3f3f3;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    display: flex;
    overflow: hidden;


}
.contact-info{
    width: 40%;
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    color: white;
    padding: 40px;
}
.contact-info h2{
    margin-bottom: 15px;
}
.info-item{
    margin-bottom: 12px;
    font-size: 16px;
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: 12px;
}
.info-item i{
    color:rgb(132, 227, 132);
    font-size: 18px;
}
.social-icons a{
    display: inline-block;
    /*margin-right: 10px;*/
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 200px;
    margin-left: 20px;
    padding-left: 10px;
    

}
.facebook i{
     text-decoration: none;
    background: #e6f4ec;
    color: #2d24d4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    transition: 0.3s;
    margin-left: 10px;
    
}
.twitter i{
    text-decoration: none;
    background: #060606;
    color: #b9b9bf;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    transition: 0.3s;
    
    
}
.twitter span{
    margin-left: 14px;
}
.linkedin i{
    text-decoration: none;
    background: #0d65e9e9;
    color: #b9b9bf;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    transition: 0.3s;
    margin-left: 6px;
    
}
.social-icons i:hover{
    background: #64d58a;
    color: white;
}
.social-icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.contact-form-container{
    width: 60%;
    padding: 40px;
    background: white;
}
.contact-form-container h2{
    margin-bottom: 20px;
}
form .row{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    flex: 1;
}
form input,
form textarea{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    background: #f3f3f3;
    outline: none;
    box-shadow: 
        inset 5px 10px #d1d1d1,
        inset -5px -5px 10px #ffffff;
}
form textarea{
    margin-bottom: 15px;
    resize: none;
}
form button{
    width: 100%;
    padding: 15px;
    color: white;
    border: none;

    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    transition: 0.03s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
form button:hover{
    transform: translateY(-3px);
}
.contact-info p{
    font-size: 20px;
    margin-bottom: 30px;
}
@media (max-width: 768px){

    .contact-section{
        padding: 60px 15px;
        background: #f4f6f9;
        margin-top: 60px;
    }

    .contact-card{
        flex-direction: column;
        width: 90%;
        border-radius: 20px;
        overflow:visible;
        box-shadow: 0 8px 20px rgba(0,0,0,0.8);
        background: white;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }

    .contact-info{
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 30px 20px;
    }

    .contact-form-container{
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding: 30px 20px;
    }

    .row{
        flex-direction: column;
        gap: 0;
    }

    form input,
    form textarea{
        margin-bottom: 15px;
    }

    form button{
        width: 100%;
        padding: 16px;
    }
}



